@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CMS_DTO.CMSMarketing.CMS_TestServiceModels
<div class="container">
    @Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Home" }, { "B", "TEST SERVICE" } })
    <div class="page-header bottom-shadow">
        <h3>TEST SERVICE</h3>
        <p>It’s free and always will be.</p>
    </div><!-- Section Header /- -->
</div><!-- container /- -->
<div class="contact-form-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="section-header">
                    <h3>Test Service</h3>
                </div>
                <div class="contact-form">
                    @using (@Html.BeginForm("Index", "Service", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal login-page", @enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label for="phone" class="col-md-4">Phone</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Phone Number", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "label label-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="content" class="col-md-4">Content</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @placeholder = "SMS Content", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Content, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                        <div class="drop-line bottom-shadow"></div>
                        <div class="form-group">
                            <a title="Or Return to Shop" href="#">Or Return to home</a>
                            <input type="submit" value="Test Service" class="btn btn-default  pull-right">
                        </div>
                    }
                </div>
            </div>

            <!-- col-md-6 -->
            <div class="col-md-6 col-sm-6">
                <div class="section-header">
                    <h3>Test service/ Receive information</h3>
                </div><!-- Section Header Over -->
                <div class="contact-details new-user-register register-user bottom-shadow">
                    <h3>Thanh you go here and using our service.</h3>
                    <p>If you’re trying to achieve, there will be roadblocks. I’ve had them; everybody has had them. But obstacles don’t have to stop you. If you run into a wall, don’t turn around and give up. Figure out how to climb it, go through it, or work around it. </p>
                    <p>Life doesn’t require that we be the best, only that we try our best. Nothing is too small to know, and nothing too big to attempt.</p>
                    <div class="drop-line bottom-shadow"></div>
                    <a title="Continue" href="#" class="btn btn-next btn-fill btn-warning btn-wd btn-sm">Continue</a>
                </div>
            </div><!-- col-md-6 /- -->
        </div>
    </div>
</div>