@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Session["UserC"] as CMS_DTO.CMSCustomer.CustomerModels;
}
@model CMS_DTO.CMSProfile.CMS_ProfileModels
@using CMS_Shared
<!-- container -->
<div class="container">
    @Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Home" }, { "B", "PROFILE" } })
    <div class="page-header bottom-shadow">
        <h3>Profile</h3>
        <p>It’s free and always will be.</p>
        @if (user != null)
        {
            <p><a href="@Url.Action("Index","ChangePassword")">Change Password</a></p>
        }
    </div><!-- Section Header /- -->
</div><!-- container /- -->
<!-- Page Breadcrumb /- -->
<div class="contact-form-details">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#2B3441">Profile</div>
            <div class="panel-body">
                <div class="row">
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#2B3441 !important">Lịch sử nạp</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Date</th>
                                <th>Full name</th>
                                <th>
                                    Deposit Wallet
                                </th>
                                <th>
                                    Package Name
                                </th>
                                <th>
                                    SMS
                                </th>
                                <th>
                                    SMS/VND
                                </th>
                                <th>
                                    Package Price (USD)
                                </th>
                                <th>
                                    Pay
                                </th>
                                <th>
                                    Coin
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="11" style="text-align:center">No content</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#2B3441 !important">Lịch sử nạp - Marketing</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    Customer Name
                                </th>
                                <th>
                                    Message Content
                                </th>
                                <th>
                                    Send To
                                </th>
                                <th>
                                    Operator Name
                                </th>
                                <th>
                                    SMS Price
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Time Input
                                </th>
                                <th>
                                    Send From
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Marketings != null && Model.Marketings.Any())
                            {
                                var no = 1;
                                foreach (var item in Model.Marketings)
                                {
                                    <tr>
                                        <td>
                                            @no
                                        </td>
                                        <td>
                                            @item.CustomerName
                                        </td>
                                        <td>
                                            @item.SMSContent
                                        </td>
                                        <td>
                                            @item.SendTo
                                        </td>
                                        <td>
                                            @item.OperatorName
                                        </td>
                                        <td>
                                            @item.SMSPrice
                                        </td>
                                        <td>
                                           @* @Commons.SMSStatus.Fail.GetDescription(Enum.GetName(typeof(Commons.SMSStatus), item.Status))*@
                                        </td>
                                        <td>
                                            @item.TimeInput
                                        </td>
                                        <td>
                                            @item.SendFrom
                                        </td>
                                    </tr>
                                    no = no + 1;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9" style="text-align:center">No content</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#2B3441">Lịch sử nạp - OPT</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">No.</th>
                                <th class="text-center"> Customer Name </th>
                                <th class="text-center"> Message Content </th>
                                <th class="text-center"> Send To </th>
                                <th class="text-center"> Operator Name </th>
                                <th class="text-center"> SMS Price </th>
                                <th class="text-center"> Status </th>
                                <th class="text-center"> Time Input </th>
                                <th class="text-center"> Send From </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.OTPs != null && Model.OTPs.Any())
                            {
                                var no = 1;
                                foreach (var item in Model.OTPs)
                                {
                                    <tr>
                                        <td>
                                            @no
                                        </td>
                                        <td>
                                            @item.CustomerName
                                        </td>
                                        <td>
                                            @item.SMSContent
                                        </td>
                                        <td>
                                            @item.SendTo
                                        </td>
                                        <td>
                                            @item.OperatorName
                                        </td>
                                        <td>
                                            @item.SMSPrice
                                        </td>
                                        <td>
                                            @* @Commons.SMSStatus.Fail.GetDescription(Enum.GetName(typeof(Commons.SMSStatus), item.Status))*@
                                        </td>
                                        <td>
                                            @item.TimeInput
                                        </td>
                                        <td>
                                            @item.SendFrom
                                        </td>
                                    </tr>
                                    no = no + 1;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9" style="text-align:center">No content</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>