@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Session["UserC"] as CMS_DTO.CMSSession.UserSession;
}
@model CMS_DTO.CMSProfile.CMS_ProfileModels
@using CMS_Shared
<style>
    div.dataTables_wrapper div.dataTables_length select {
        padding-top:0 !important;
    }
    table.dataTable thead th, table.dataTable thead td{
        border-bottom:none !important;
    }
    table.dataTable.no-footer {
        border-bottom: 1px solid #e7ecf1 !important;
    }
</style>
<!-- container -->
<div class="container">
    @Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Home" }, { "B", "PROFILE" } })
    <div class="page-header bottom-shadow">
        <h3>Profile</h3>
        <p>It’s free and always will be.</p>
        @if (user != null)
        {
            <p><a href="@Url.Action("Index","ChangePassword")">Change Password</a></p>
        }
    </div><!-- Section Header /- -->
</div><!-- container /- -->
<!-- Page Breadcrumb /- -->
<div class="contact-form-details">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#2B3441">Profile</div>
            <div class="panel-body">
                <div class="row">
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#2B3441 !important">Lịch sử nạp</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered" id="history">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Date</th>
                                <th>Full name</th>
                                <th>
                                    Deposit Wallet
                                </th>
                                <th>
                                    Package Name
                                </th>
                                <th>
                                    SMS
                                </th>
                                <th>
                                    SMS/VND
                                </th>
                                <th>
                                    Package Price (USD)
                                </th>
                                <th>
                                    Pay
                                </th>
                                <th>
                                    Coin
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Transactions != null && Model.Transactions.Any())
                            {
                                var noTransaction = 1;
                                foreach (var item in Model.Transactions)
                                {
                                    <tr>
                                        <th>@noTransaction</th>
                                        <th>@item.CreatedDate</th>
                                        <th>@item.CustomerName</th>
                                        <th>
                                            @item.WalletMoney
                                        </th>
                                        <th>
                                            @item.PackageName
                                        </th>
                                        <th>
                                            @{
                                                var temp3 = item.PackageSMS.ToString();
                                            }
                                            @if (item.PackageSMS > 1)
                                            {
                                                temp3 = string.Format("{0}", item.PackageSMS.ToString("#,0"));
                                            }
                                            @temp3
                                        </th>
                                        <th>
                                            @{
                                                var temp2 = item.SMSPrice.ToString();
                                            }
                                            @if (item.SMSPrice > 1)
                                            {
                                                temp2 = string.Format("{0}", item.SMSPrice.ToString("#,0"));
                                            }
                                            @temp2
                                        </th>
                                        <th>
                                            @{
                                                var temp1 = item.PackagePrice.ToString();
                                            }
                                            @if (item.PackagePrice > 1)
                                            {
                                                temp1 = string.Format("{0}", item.PackagePrice.ToString("#,0"));
                                            }
                                            @temp1
                                        </th>
                                        <th>
                                            @{
                                                var temp = item.PayCoin.ToString();
                                            }
                                            @if (item.PayCoin > 1)
                                            {
                                                temp = string.Format("{0}", item.PayCoin.ToString("#,0"));
                                            }
                                            @temp
                                        </th>
                                        <th>
                                            @item.PaymentMethodName
                                        </th>
                                        <th>
                                            @item.sStatus
                                        </th>
                                    </tr>
                                    noTransaction = noTransaction + 1;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="11" style="text-align:center">No content</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#2B3441 !important">Lịch sử nạp - Marketing</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered" id="marketing">
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    Customer Name
                                </th>
                                <th>
                                    Message Content
                                </th>
                                <th>
                                    Send To
                                </th>
                                <th>
                                    Operator Name
                                </th>
                                <th>
                                    SMS Price
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Time Input
                                </th>
                                <th>
                                    Send From
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Marketings != null && Model.Marketings.Any())
                            {
                                var no = 1;
                                foreach (var item in Model.Marketings)
                                {
                                    <tr>
                                        <td>
                                            @no
                                        </td>
                                        <td>
                                            @item.CustomerName
                                        </td>
                                        <td>
                                            @item.SMSContent
                                        </td>
                                        <td>
                                            @item.SendTo
                                        </td>
                                        <td>
                                            @item.OperatorName
                                        </td>
                                        <td>
                                            @item.SMSPrice
                                        </td>
                                        <td>
                                            @* @Commons.SMSStatus.Fail.GetDescription(Enum.GetName(typeof(Commons.SMSStatus), item.Status))*@
                                        </td>
                                        <td>
                                            @item.TimeInput
                                        </td>
                                        <td>
                                            @item.SendFrom
                                        </td>
                                    </tr>
                                    no = no + 1;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9" style="text-align:center">No content</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#2B3441">Lịch sử nạp - OPT</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered dt-responsive" id="tableotp">
                        <thead>
                            <tr>
                                <th class="text-center">No.</th>
                                <th class="text-center"> Customer Name </th>
                                <th class="text-center"> Message Content </th>
                                <th class="text-center"> Send To </th>
                                <th class="text-center"> Operator Name </th>
                                <th class="text-center"> SMS Price </th>
                                <th class="text-center"> Status </th>
                                <th class="text-center"> Time Input </th>
                                <th class="text-center"> Send From </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.OTPs != null && Model.OTPs.Any())
                            {
                                var no = 1;
                                foreach (var item in Model.OTPs)
                                {
                                    <tr>
                                        <td>
                                            @no
                                        </td>
                                        <td>
                                            @item.CustomerName
                                        </td>
                                        <td>
                                            @item.SMSContent
                                        </td>
                                        <td>
                                            @item.SendTo
                                        </td>
                                        <td>
                                            @item.OperatorName
                                        </td>
                                        <td>
                                            @item.SMSPrice
                                        </td>
                                        <td>
                                            @* @Commons.SMSStatus.Fail.GetDescription(Enum.GetName(typeof(Commons.SMSStatus), item.Status))*@
                                        </td>
                                        <td>
                                            @item.TimeInput
                                        </td>
                                        <td>
                                            @item.SendFrom
                                        </td>
                                    </tr>
                                    no = no + 1;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9" style="text-align:center">No content</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var _tabletableotp = null;
    var _settingsOptiontableotp = {
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ records",
            "infoEmpty": "No records found",
            "infoFiltered": "(filtered1 from _MAX_ total records)",
            "lengthMenu": "Show _MENU_",
            "search": "Search:",
            "zeroRecords": "No matching records found",
            "paginate": {
                "previous": "Prev",
                "next": "Next",
                "last": "Last",
                "first": "First"
            }
        },
        "oLanguage": {
            "sSearch": "Search:",
            "sLengthMenu": "Show _MENU_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No matching records found",
            "sInfo": "Showing _START_ to _END_ of _TOTAL_ records",
            "sInfoEmpty": "No records found",
            "sInfoFiltered": "(được lọc từ _MAX_ mục)",
            "sInfoPostFix": "",
        },
        "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.
        "lengthMenu": [
            [15, 20, -1],
            [15, 20, "All"] // change per page values here
        ],
        "pageLength": 15,
        //"columnDefs": [
        //    { "orderable": false, "targets": [0,7] },
        //    { "width": "8%", "targets": [0] },
        //    { "width": "5%", "targets": [1, 2, 3,4,5,6] },
        //    { "width": "20%", "targets": [7] },
        //],
        "order": [
            [0, "asc"]
        ]
    };

    $(document).ready(function () {
        _tabletableotp = $('#tableotp').DataTable($.extend(true, {}, _settingsOptiontableotp));
        _tabletableotp = $('#history').DataTable($.extend(true, {}, _settingsOptiontableotp));
        _tabletableotp = $('#marketing').DataTable($.extend(true, {}, _settingsOptiontableotp));
        
    })
</script>