
@model CMS_DTO.CMSGSM.CMS_GMSModels
@using CMS_Shared
@{
    Html.EnableUnobtrusiveJavaScript(true);
    var _ID = Model.Id;
}
@Html.HiddenFor(model =>model.Id)
<div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
    @*Image*@
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">GSM Name</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.GSMName, new { @class = "form-control", @placeholder = "GSM Name", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.GSMName, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Is Active</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.CheckBoxFor(model => model.IsActive, new { @class = "icheck" })
                @Html.ValidationMessageFor(model => model.IsActive, null, new { @class = "label label-danger" })
            </div>
        </div>
    </fieldset>
</div>
<script src="@Url.Content("~/Scripts/InputCustom.js")"></script>
