@{
    Layout = null;
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:void(0)">@Model["A"]</a>
            <i class="fa fa-circle"></i>
        </li>
        <li class="active">
            <span>@Model["B"]</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <a href="@Url.Action("SiteMaintain","Home")" id="dashboard-report-range" class="pull-right tooltips btn btn-sm" style=" border-left: 1px solid #3d4957">
            <span class="uppercase hidden-xs">Site bảo trì</span>
        </a>
        <a href="@Url.Action("RateUSDPM","Home")" id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range"  style=" border-left: 1px solid #3d4957">
            @*<i class="icon-settings"></i>&nbsp;*@
            <span class="uppercase hidden-xs">Rate USD/PM</span>
            @*<i class="fa fa-angle-down"></i>*@
        </a>
        <a href="@Url.Action("RateSMSMarketingOTP","Home")" id="dashboard-report-range" class="pull-right tooltips btn btn-sm"  style=" border-left: 1px solid #3d4957">
            <span class="uppercase hidden-xs">Rate SMS Marketing/OTP</span>
        </a>
        <a href="@Url.Action("CreditNewMember","Home")" id="dashboard-report-range" class="pull-right tooltips btn btn-sm"  style=" border-left: 1px solid #3d4957">
            <span class="uppercase hidden-xs">Credit thành viên mới</span>
        </a>
        <a href="@Url.Action("WaitingTime","Home")" id="dashboard-report-range" class="pull-right tooltips btn btn-sm">
            <span class="uppercase hidden-xs">Thời gian chờ</span>
        </a>
    </div>
</div>
