@{
    Layout = null;
}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse" id="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler"> </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="nav-item active">
                <a href="@Url.Action("Index","Home")" class="nav-link nav-toggle">
                    <i class="fa fa-home"></i>
                    <span class="title">Home</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Index","CMSEmployees")" class="nav-link nav-toggle">
                    <i class="fa fa-dot-circle-o"></i>
                    <span class="title">Employee</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","CMSDepositPackage")" class="nav-link nav-toggle">
                    <i class="fa fa-dot-circle-o"></i>
                    <span class="title">Deposit Package Manager</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","CMSPaymentMethod")" class="nav-link nav-toggle">
                    <i class="icon-clock"></i>
                    <span class="title">Payment Method Manager</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","CMSCustomers")" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Customer Manager</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","CMSMessageOTP")" class="nav-link nav-toggle">
                    <i class="fa fa-inbox"></i>
                    <span class="title">Message OTP List</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","CMSMessageMarketing")" class="nav-link nav-toggle">
                    <i class="fa fa-inbox"></i>
                    <span class="title">Message Marketing List</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","CMSDepositTransaction")" class="nav-link nav-toggle">
                    <i class="fa fa-inbox"></i>
                    <span class="title">Deposit Transaction</span>
                </a>
            </li>
            <li class="nav-item active">
                <a href="@Url.Action("Index","CMSCategories")" class="nav-link nav-toggle">
                    <i class="fa fa-dot-circle-o"></i>
                    <span class="title">Thể Loại</span>
                </a>
            </li>

            @*<li class="nav-item">
            <a href="@Url.Action("Index","CMSProducts")" class="nav-link nav-toggle">
                <i class="fa fa-dot-circle-o"></i>
                <span class="title">Sản Phẩm</span>
            </a>
        </li>*@

            @*<li class="nav-item">
            <a href="@Url.Action("Index","CMSPolicy")" class="nav-link nav-toggle">
                <i class="fa fa-dot-circle-o"></i>
                <span class="title">Chính Sách</span>
            </a>
        </li>*@

            @*<li class="nav-item">
            <a href="@Url.Action("Index","CMSNews")" class="nav-link nav-toggle">
                <i class="fa fa-dot-circle-o"></i>
                <span class="title">Tin Tức</span>
            </a>
        </li>*@

            <li class="nav-item">
                <a href="@Url.Action("Index","CMSSysConfigs")" class="nav-link nav-toggle">
                    <i class="icon-layers"></i>
                    <span class="title">System</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Index","CMSAPI")" class="nav-link nav-toggle">
                    <i class="icon-link"></i>
                    <span class="title">API</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->