<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>sms4api</title>
    <link rel="shortcut icon" href="images/favicon.png">
    <script src="@Url.Content("~/Libraries/plugins/fullcalendar/lib/jquery.min.js")"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <link href="@Url.Content("~/Libraries/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libraries/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libraries/plugins/owl-carousel/owl.carousel.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libraries/plugins/owl-carousel/owl.theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libraries/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/animate.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/flexslider.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/magnific-popup.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/components.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/media.css")" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,400italic,300italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.png" />
</head>
<body data-offset="200" data-spy="scroll" data-target=".primary-navigation">
    <!-- LOADER -->
    <div id="site-loader" class="load-complete">
        <div class="load-position">
            <div class="logo"><img src="@Url.Content("~/Images/logo.png")" alt="logo"></div>
            <h6>Please wait, loading...</h6>
            <div class="loading">
                <div class="loading-line"></div>
                <div class="loading-break loading-dot-1"></div>
                <div class="loading-break loading-dot-2"></div>
                <div class="loading-break loading-dot-3"></div>
            </div>
        </div>
    </div>
    <!-- Loader /- -->
    <a id="top"></a>
    @Html.Partial("_topMenu")
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->

    <div class="page-container">
        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-warning alert-dismissible" role="alert" style="color: #000; text-align: center;">
                <span id="alert-message">
                    @ViewData["ErrorMessage"].ToString()
                </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (ViewData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <span id="alert-message">
                    @ViewData["SuccessMessage"].ToString()
                </span>
                <button type="button" data-dismiss="alert" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @RenderBody()
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    @Html.Partial("_footer")
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false'></script>
    <script src="@Url.Content("~/Scripts/jquery.gmap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.easing.min.js")"></script>
    <script src="@Url.Content("~/Libraries/plugins/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Libraries/plugins/jquery-ui/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.animateNumber.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.appear.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.knob.js")"></script>
    <script src="@Url.Content("~/Scripts/wow.min.js")"></script>
    <script src="@Url.Content("~/Scripts/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.flexslider-min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.magnific-popup.min.js")"></script>
    <!-- Customized Scripts -->
    <script src="@Url.Content("~/Scripts/functions.js")"></script>
</body>
</html>
