@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CMS_DTO.CMSCustomer.CustomerViewModels
<!-- container -->
<div class="container">
    @Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Home" }, { "B", "CREATE ACCOUNT" } })
    <div class="page-header bottom-shadow">
        <h3>Create Account</h3>
        <p>It’s free and always will be.</p>
    </div><!-- Section Header /- -->
</div><!-- container /- -->
<!-- Page Breadcrumb /- -->
<!-- contact-form-details -->
<div class="page-wizard">
    <div class="container">
        <ul class="bottom-shadow">
            <li class="active"><a href="@Url.Action("Index","Register")">1# Register</a></li>
            <li><a title="Verifi code" href="#">2# Verifi code</a></li>
        </ul>

        <div class="contact-form-details row">
            <div class="col-md-6 col-sm-6">
                <!-- User Form -->
                <div class="section-header">
                    <h3>New User</h3>
                </div><!-- Section Header /- -->
                <div class="contact-form">
                    @using (@Html.BeginForm("Index", "Register", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal", @enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label for="firstname" class="col-md-4">First Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "label label-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lastname" class="col-md-4">Last Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "label label-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4">Email Address</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txt_email", @placeholder = "enter your email", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Phone</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @id = "txt_phone", @placeholder = "enter your phone", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "label label-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4">Password</label>
                            <div class="col-md-8">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "password", @placeholder = "*****", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-4">Password 2</label>
                            <div class="col-md-8">
                                @Html.PasswordFor(model => model.Password1, new { @class = "form-control", @id = "password2", @placeholder = "*****", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Password1, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                        <div class="drop-line bottom-shadow"></div>
                        <div class="form-group">
                            <a title="Or Return to Shop" href="#">Or Return to Shop</a>
                            <input type="submit" value="create an acoount" class="btn btn-default  pull-right">
                        </div>
                    }
                </div>
            </div><!-- User Form /- -->

            <div class="col-md-6 col-sm-6">
                <!-- Section Header -->
                <div class="section-header">
                    <h3>Registered User</h3>
                </div><!-- Section Header /- -->
                <div class="contact-details register-user">
                    <div class="register-user-banner">
                        <img src="@Url.Content("~/Images/register-user.png")" alt="register-user">
                        <h2>100% Satisfied Customers </h2>
                    </div>
                    <h3>If You have Account, Login Directly</h3>
                    <p>Aliquam placerat, mi non interdum volutpat, nisi magna euismod arcu, at congue augue ex nec lectus</p>
                    <div class="drop-line bottom-shadow"></div>
                    <a title="sign in" href="#" class="btn btn-default">sign in</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- Contact Form Details /- -->
