
@model CMS_DTO.CMSPaymentMethod.CMS_PaymentMethodModels
@using CMS_Shared
@{
    Html.EnableUnobtrusiveJavaScript(true);
    var _ID = Model.Id;
}
@Html.HiddenFor(model =>model.Id)
<div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
    @*Image*@
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Payment Name</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.PaymentName, new { @class = "form-control", @placeholder = "Payment Name", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.PaymentName, null, new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Payment Type</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.PaymentType, new { @class = "form-control", @placeholder = "Payment Type", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.PaymentType, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Wallet For Money</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.WalletMoney, new { @class = "form-control", @placeholder = "Wallet For Money", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.WalletMoney, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Tag Content</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.TagContent, new { @class = "form-control", @placeholder = "Tag Content", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.TagContent, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Scale Number</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.ScaleNumber, new { @class = "form-control", @placeholder = "Scale Number", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.ScaleNumber, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight">Reference Exchange</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.ReferenceExchange,
                    new SelectList(ViewBag.ExChange, "Value", "Text", Model.ReferenceExchange), "Reference Exchange",
                    new
                    {
                        @class = "form-control select2_multiple",
                        @id = "ExChangeDdl",
                        @style = "width:100%;"
                    })
                @Html.ValidationMessageFor(model => model.ReferenceExchange, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">URL Api</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.URLApi, new { @class = "form-control", @placeholder = "URL Api", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.URLApi, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Status</label>
            <div class="col-md-1 col-sm-1 col-xs-12">
                <label>@Html.CheckBoxFor(model => model.IsActive, new { @class = "icheck" })</label>
            </div>
        </div>
    </fieldset>
</div>
<script src="@Url.Content("~/Scripts/InputCustom.js")"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#ExChangeDdl").select2({
            placeholder: "Reference Exchange",
            //allowClear: true
        });
    });    
    
</script>
