@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CMS_DTO.CMSMarketing.CMS_MarketingModels

<!-- container -->
<div class="container">
    @Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Home" }, { "B", "Marketing" } })
    <div class="page-header bottom-shadow">
        <h3>Marketing</h3>
        <p> Page Marketing</p>
    </div><!-- Section Header /- -->
</div><!-- container /- -->
<!-- Page Breadcrumb /- -->

<div class="page-wizard">
    <!-- container -->
    <div class="container">
        <ul class="bottom-shadow">
            <li class="active"><a href="javascript:void(0);">Step 1: Dowload file</a></li>
            <li><a title="Verifi code" href="javascript:void(0);">Step 2: Upload your file</a></li>
        </ul>
        <!-- contact-form-details -->
        <div class="contact-form-details row">
            <!-- col-md-6 -->
            <div class="col-md-6 col-sm-6">
                <div class="section-header">
                    <h3>Dowload file</h3>
                </div><!-- Section Header Over -->
                <div class="contact-form bottom-shadow">
                    @using (@Html.BeginForm("Export", "Marketing", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal login-page", @enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <div class="col-md-6"><p><i>Dowload file from at here: </i></p></div>
                            <div class="col-md-6">
                                <input type="submit" value="Dowload file" class="btn btn-default  pull-right">
                            </div>
                        </div>
                    }
                </div>
            </div><!-- col-md-6 /- -->
            <!-- col-md-6 -->
            <div class="col-md-6 col-sm-6">
                <div class="section-header">
                    <h3>Upload your file</h3>
                </div><!-- Section Header Over -->
                <div class="contact-form bottom-shadow">
                    @using (@Html.BeginForm("Index", "Marketing", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal login-page", @enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label class="col-md-1"></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.ExcelUpload, new { @type = "file", @accept = "*.xlsx", @class = "pull-right" })
                                @Html.ValidationMessageFor(model => model.ExcelUpload, null, new { @class = "label" })
                            </div>
                            <div class="col-md-2" style="float: right">
                                <div class="col-md-2"><input type="submit" value="Send" class="btn btn-default  pull-right"></div>
                            </div>
                        </div>
                    }
                </div>

            </div><!-- col-md-6 /- -->
            @{ if (Model != null)
                {
                    <div class="col-md-12 col-sm-12">
                        <div class="contact-form bottom-shadow">
                            @using (@Html.BeginForm("SendSMS", "Marketing", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal login-page" }))
                            {
                                decimal sumPrice = 0;
                                int countSMS = 0;
                                <div class="form-group">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="sample_3" style="margin-bottom: 0px !important">
                                        <thead>
                                            <tr>
                                                <th class="text-left"> Send To </th>
                                                <th class="text-left"> Message Content </th>
                                                <th class="text-left" style="width: 20% !important;"> SMS Price </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (var item in Model.ListSMS)
                                                {

                                                    <tr class="odd gradeX">
                                                        <td class="text-left">@item.SendTo</td>
                                                        <td class="text-left">@item.SMSContent</td>
                                                        <td class="text-left">
                                                            @string.Format("{0:N0}", item.SMSPrice) Credits
                                                            @Html.Hidden("[" + countSMS + "].IsActive", item.IsActive)
                                                            @Html.Hidden("[" + countSMS + "].CountMessage", item.CountMessage)
                                                            @Html.Hidden("[" + countSMS + "].CustomerId", item.CustomerId)
                                                            @Html.Hidden("[" + countSMS + "].CustomerName", item.CustomerName)
                                                            @Html.Hidden("[" + countSMS + "].SendTo", item.SendTo)
                                                            @Html.Hidden("[" + countSMS + "].SMSContent", item.SMSContent)
                                                            @Html.Hidden("[" + countSMS + "].SMSPrice", item.SMSPrice)
                                                            @Html.Hidden("[" + countSMS + "].SMSRate", item.SMSRate)
                                                            @Html.Hidden("[" + countSMS + "].SMSType", item.SMSType)
                                                            @Html.Hidden("[" + countSMS + "].Status", item.Status)
                                                        </td>
                                                    </tr>
                                                    sumPrice += item.SMSPrice;
                                                    countSMS++;
                                                }
                                            }
                                            <tr class="clear noborder" style="background-color: #FFF !important;">
                                                <td colspan="2">
                                                    <div class="form-group" style="margin-top: 17px !important">
                                                        <div class="col-md-12">
                                                            <label>Queue for message(s): </label>
                                                            @if (Model != null)
                                                            {
                                                                @Html.TextBox(string.Format("ListSMS[{0}].RunTime", 0), Model.ListSMS[0].RunTime, new { @class = "" })
                                                            }
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="submit" value="@string.Format("Run {0} SMS - {1:0} Credits", countSMS, sumPrice)" class="btn btn-default pull-right"style="margin-top: 17px !important;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            }
                        </div>
                    </div>
                }}
        </div><!-- Contact Form details /- -->
    </div>
</div>
