
@model CMS_DTO.CMSCustomer.CustomerModels
@using CMS_Shared;
@{
    Html.EnableUnobtrusiveJavaScript(true);
    var _ID = Model.ID;
}
@Html.HiddenFor(model => model.ID)
<div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
    @*Image*@
    <fieldset>
        <div class="form-group">
            <label class="col-md-6 col-sm-6 col-xs-12 text-danger text-center">@Html.ValidationMessage("ErrorMessage")</label>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">First Name</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Last Name</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "label label-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Email</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "label label-danger" })
            </div>
        </div>
        @{
            if (string.IsNullOrEmpty(_ID))
            {
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Password</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Password2</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.PasswordFor(model => model.Password2, new { @class = "form-control", @placeholder = "Password2", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Password2, null, new { @class = "label label-danger" })
                    </div>
                </div>

            }
        }


        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Phone</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Phone", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Status</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.Status, Commons.CustomerStatus.Open.ToSelectList(), new { @class = "form-control select2_multiple", @placeholder = "Status", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Status, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Total Credit</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.TotalCredit, new { @class = "form-control", @placeholder = "Total Credit", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.TotalCredit, null, new { @class = "label label-danger" })
            </div>
        </div>
        @*<div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">Is Authenticated</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.IsAuthenticated, new { @class = "form-control", @placeholder = "Is Authenticated", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.IsAuthenticated, null, new { @class = "label label-danger" })
            </div>
        </div>*@
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">SMS Balances</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.SMSBalances, new { @class = "form-control", @placeholder = "SMS Balances", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.SMSBalances, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">API Key</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.APIKey, new { @class = "form-control", @placeholder = "API Key", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.APIKey, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight fontLighter">API Pass</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.APIPass, new { @class = "form-control", @placeholder = "API Pass", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.APIPass, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Is Verified Email</label>
            <div class="col-md-1 col-sm-1 col-xs-12">
                <label>@Html.CheckBoxFor(model => model.IsVerifiedEmail, new { @class = "icheck" })</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 fontLighter">Is Verified Phone</label>
            <div class="col-md-1 col-sm-1 col-xs-12">
                <label>@Html.CheckBoxFor(model => model.IsVerifiedPhone, new { @class = "icheck" })</label>
            </div>
        </div>
        <div class="form-group">
            @Html.HiddenFor(model => model.IsActive)
            @Html.HiddenFor(model => model.Password)
            @Html.HiddenFor(model => model.Password2)
        </div>
    </fieldset>
</div>
<script src="@Url.Content("~/Scripts/InputCustom.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Status").select2({
            placeholder: "Status",
            //allowClear: true
        });
    });    
</script>