@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CMS_DTO.CMSDepositPackage.PerfectMoneyModel

<!-- container -->
<div class="container">
    @Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Home" }, { "B", "Perfect money payment" } })
    <div class="page-header bottom-shadow">
        <h3>Perfect money</h3>
    </div><!-- Section Header /- -->
</div><!-- container /- -->
<div class="container" style="display: block; margin: auto; text-align: center; width: 40%">
    <form action="https://perfectmoney.is/api/step1.asp" method="post" class="form-horizontal" enctype="multipart/form-data">
        <table class="table table-bordered">                           
            <tbody id="tbodydeposite"></tbody>
                <tr>
                    <td style="text-align:right">PM wallet</td>
                    <td>
                        @Html.Raw(Model.PAYEE_ACCOUNT) @string.Format("{0}", !string.IsNullOrEmpty(Model.PAYEE_NAME) ? "(" + Model.PAYEE_NAME + ")" : "")
                        <input type="hidden" value="http://sms4api.com/PerfectMoney" name="PAYMENT_URL" />
                        <input type="hidden" value="http://sms4api.com/DepositPackage" name="NOPAYMENT_URL" />
                        <input type="hidden" value="@Model.PAYEE_ACCOUNT" name="PAYEE_ACCOUNT" />
                        <input type="hidden" value="@Model.PAYEE_NAME" name="PAYEE_NAME" />
                        <input type="hidden" value="@Model.PAYMENT_AMOUNT" name="PAYMENT_AMOUNT" />
                        <input type="hidden" value="@Model.PAYMENT_UNITS" name="PAYMENT_UNITS" />

                    </td>
                </tr>
                <tr>
                    <td class="text-right">You have to pay</td>
                    <td>@Html.Raw(Model.PAYMENT_AMOUNT) @Html.Raw("PMUSD")</td>
                </tr>
                <tr style="text-align: center;">
                    <td colspan="2" class="text-center"><input type="submit" value="Pay now" class="btn btn-success"></td>
                </tr>
        </table>
    </form>
</div>