@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Payments = ViewBag.Payment as List<CMS_DTO.CMSPaymentMethod.CMS_PaymentMethodModels>;
}
@model List<CMS_DTO.CMS_DepositPackageModel>
<!-- container -->
<div class="container">
    @Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Home" }, { "B", "DEPOSIT PACKAGE" } })
    <div class="page-header bottom-shadow">
        <h3>Deposit Package</h3>
        <p> Theme Deposit Package</p>
    </div><!-- Section Header /- -->
</div><!-- container /- -->
<div class="contact-form-details">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Packages Plan</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Package Name</th>
                                <th>SMS Package (credits)</th>
                                <th>Package price (VND)</th>
                                <th>Discount (%)</th>
                                <th>USD</th>
                                <th>VND/SMS</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model == null || Model.Count <= 0)
                            {
                                <tr>
                                    <td colspan="7" style="text-align:center">No content</td>
                                </tr>
                            } else
                            {
                                foreach(var item in Model)
                                {
                                <tr>
                                    <th>@item.PackageName</th>
                                    <th>@string.Format("{0}", item.PackageSMS.ToString("#,0"))</th>
                                    <th>@string.Format("{0}", item.PackagePrice.ToString("#,0"))</th>
                                    <th>@item.Discount</th>
                                    <th>@item.PriceUSD</th>
                                    <th>@string.Format("{0}", item.SMSPrice.ToString("#,0"))</th>
                                    <th><a href="javascript:void(0)" class="add_@item.Id" onclick="AddDepositPackage(this,'@item.Id','@item.PackageName','@item.PriceDefault')">Add</a></th>
                                </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Deposit Now</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Choose your package</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodydeposite">
                        </tbody>
                        <tfoot class="hidden tfoot">
                            <tr>
                                <td colspan="2" style="text-align:right">Choose your payment</td>
                                <td>
                                    <select class="form-control" style="width:50%" id="txtPayment"  onchange="ChangePayment(this)">
                                        <option value="-1">Choose payment</option>
                                        @if(Payments !=null && Payments.Count > 0)
                                        {
                                            foreach(var itemP in Payments)
                                            {
                                                <option value="@itemP.PaymentType">@itemP.PaymentName</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align:right;margin-right:20%">
                                    <button class="btn btn-success" disabled id="paynow" style="margin-right:27%">Pay now</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var Deposits = []
    function AddDepositPackage(that, Id, PackageName, PriceDefault) {
        $(that).addClass("hidden")
        $('.tfoot').removeClass('hidden')
        let typePayment = parseInt($('#txtPayment').val())
        var isExits = Deposits.some((x) => x.Id === Id);
        if (!isExits) {
            Deposits.push({
                Id: Id,
                PackageName: PackageName,
                PayCoin: PriceDefault,
                Price: PriceDefault
            });
        }
        switch (typePayment) {
            case enumPaymentType.Perfect_Money:
                RenderDepositNow()
                break;
            case enumPaymentType.XRP:
                GetPriceFromApi()
                break;
            case enumPaymentType.Tron:
                GetPriceFromApi()
                break;
            case enumPaymentType.ETH:
                GetPriceFromApi()
                break;
            case enumPaymentType.ETC:
                GetPriceFromApi()
                break;
            default:
                RenderDepositNow()
        }
    }

    function removepackage(id) {
        $('.add_' + id).removeClass('hidden')
        $('.tr_' + id).remove()
        var item = Deposits.find((x) => x.Id == id);
        Deposits.splice($.inArray(item, Deposits), 1);
        if (Deposits.length === 0) {
            $('.tfoot').addClass('hidden')
        }
    }
    var enumPaymentType = {
        Perfect_Money: 1,
        XRP: 2,
        Tron: 3,
        ETH: 4,
        ETC: 5
    }

    function ChangePayment(that) {
        var typePayment = parseInt($(that).val())
        if (typePayment > 0) {
            $('#paynow').removeAttr("disabled")
        } else {
            $('#paynow').attr("disabled","disabled")
        }
        
        switch (typePayment) {
            case enumPaymentType.Perfect_Money:
                Deposits.forEach((x) => {
                    x.PayCoin = x.Price
                })
                RenderDepositNow()
                break;
            case enumPaymentType.XRP:
                GetPriceFromApi()
                break;
            case enumPaymentType.Tron:
                GetPriceFromApi()
                break;
            case enumPaymentType.ETH:
                GetPriceFromApi()
                break;
            case enumPaymentType.ETC:
                GetPriceFromApi()
                break;
            default:
                Deposits.forEach((x) => {
                    x.PayCoin = x.Price
                })
                RenderDepositNow()
        }
        
    }

    function RenderDepositNow() {
        var html = "";
        Deposits.forEach((x) => {
            let _PayCoin = parseInt(x.PayCoin) > 0 ? numeral(x.PayCoin).format('0,0') : x.PayCoin
            html += "<tr class='tr_" + x.Id + "'>";
            html += "<td>" + x.PackageName + "</td>";
            html += "<td>" + _PayCoin + "</td>";
            html += "<td> <a href='javascript:void(0)' class='remove_" + x.Id + "' onclick='removepackage(\"" + x.Id + "\")'> Remove </a> </td>";
            html += "</tr>";
        })
        $('[id=tbodydeposite]').html(html)
    }

    function GetPriceFromApi() {
        $.ajax({
            beforeSend: function () {
            },
            url: '@Url.Action("GetPrice", "DepositPackage")',
            type: "get",
            dataType: "json",
            success: function (data) {
                if (data !== undefined || data !== null) {
                    Deposits.forEach((x) => {
                        x.PayCoin = data.lastPrice
                    });
                    RenderDepositNow()
                }
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
        })
    }
</script>