@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<CMS_DTO.CMS_DepositPackageModel>
<!-- container -->
<div class="container">
    @Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Home" }, { "B", "DEPOSIT PACKAGE" } })
    <div class="page-header bottom-shadow">
        <h3>Deposit Package</h3>
        <p> Theme Deposit Package</p>
    </div><!-- Section Header /- -->
</div><!-- container /- -->
<div class="contact-form-details">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Packages Plan</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Package Name</th>
                                <th>SMS Package (credits)</th>
                                <th>Package price (VND)</th>
                                <th>Discount (%)</th>
                                <th>USD</th>
                                <th>VND/SMS</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model == null || Model.Count <= 0)
                            {
                                <tr>
                                    <td colspan="7" style="text-align:center">No content</td>
                                </tr>
                            } else
                            {
                                foreach(var item in Model)
                                {
                                <tr>
                                    <th>@item.PackageName</th>
                                    <th>@string.Format("{0}", item.PackageSMS.ToString("#,0"))</th>
                                    <th>@string.Format("{0}", item.PackagePrice.ToString("#,0"))</th>
                                    <th>@item.Discount</th>
                                    <th>@item.PriceUSD</th>
                                    <th>@string.Format("{0}", item.SMSPrice.ToString("#,0"))</th>
                                    <th><a href="javascript:void(0)" class="add_@item.Id" onclick="AddDepositPackage(this,'@item.Id','@item.PackageName','@item.PriceDefault')">Add</a></th>
                                </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Deposit Now</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Choose your package</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodydeposite">
                        </tbody>
                        <tfoot class="hidden tfoot">
                            <tr>
                                <td colspan="2" style="text-align:right">Choose your payment</td>
                                <td>
                                    <select class="form-control" style="width:50%">
                                        <option>ETC</option>
                                        <option>ETH</option>
                                    </select>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var Deposits = []
    function AddDepositPackage(that, Id, PackageName, PriceDefault) {
        var html = "";
        $(that).addClass("hidden")
        $('.tfoot').removeClass('hidden')
        html += "<tr class='tr_" + Id + "'>";
        html += "<td>" + PackageName + "</td>";
        html += "<td>" + numeral(PriceDefault).format('0,0') + "</td>";
        html += "<td> <a href='javascript:void(0)' class='remove_" + Id + "' onclick='removepackage(\"" + Id + "\")'> Remove </a> </td>";
        html += "</tr>";
        $('[id=tbodydeposite]').append(html)
        var isExits = Deposits.some((x) => x.Id === Id);
        if (!isExits) {
            Deposits.push({
                Id: Id,
                PackageName: PackageName,
                Price: PriceDefault
            });
        }
    }

    function removepackage(id) {
        $('.add_' + id).removeClass('hidden')
        $('.tr_' + id).remove()
        if (Deposits.length === 0) {
            $('.tfoot').addClass('hidden')
        }
    }
</script>